body{
    background-color: #14080E;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Oswald', sans-serif;
    display:grid;
    text-align: justify;

    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer";
}

.barraNav {
    background-color: #49475B;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1330px;
    height: 80px;
    
}

.barNav img {
    width: 60px;
    font-size: 60px;
}
.fotohotel {
    width: 1330px;
    align-items: center;
  }
  #redes{ 
    float: left; 
    list-style-type: none;
    text-decoration: none;
  }
  

h1 {
    color: #ACC196;
    font-size: 3em;
    font-weight: 100;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
div p {
    color: #E9EB9E;
    font-size: 1em;
    font-weight: 100;
    text-align:left;
}

.text-box{
    width: 50%;
    float: left;
    height: 20px;
    display: flex;
    padding: 15px;
}
.restaurant{
    display: initial;
    align-items:flex-start;
    justify-content:initial
    

}
#restaurantImg{
    width: 80px;
    font-size: 15px;
    border-radius: 50%;
}
.piscina{
    display:initial;
    align-items:flex-start;
    justify-content: start;
    

}
#piscinaImg{
    width: 80px;
    font-size: 15px;
    border-radius: 50%;
}
.reunionesYConvenciones{
    display: initial;
    align-items:flex-start;
    justify-content: start;
    

}
#reunionesYConvencionesImg{
    width: 80px;
    font-size: 15px;
    border-radius: 50%;
}






h2 {
    color: #ACC196;
    padding: 15px;
}


table {
    border: 3px solid;
    font-size: 12px;
    text-decoration: #E9EB9E;
    background-color:#49475B;
    padding: 15px;
    margin: 15px;
   }
  
  th {
    background-color:#49475B;
    border:solid;
   }
  
   tr, td {
    border: 1px solid;
    padding:0px;
    
    
   }
img {   width: 400px;


}
h3{
    color: #E9EB9E;
    font-size: 3em;
    font-weight: 100;

}
h4{
    color: #E9EB9E;

}
div{
    padding: 10px;
}

.texto{
    color: #6D8EA0;
    font-size: 2em;
    font-weight: 100;
    text-align:left;
}
.texto-2{
    padding: 15px;
    margin: 5px;
    text-align: center;
}
header{
    grid-area: header;
    
    padding:center;
}
main{
    grid-area: main;
   
    padding: center;
}
footer{
    grid-area: footer;
    
    padding: center;
}
 @media (min-width:576px) and (max-width: 1200px){
   
    body{
        display:grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
        
    }
}
.contenedor{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;

}
.boton{
    list-style-type:none;
    display: inline-block;
    border:none;
    margin: 1px;
    background-color:#49475B;
    padding: 20px;
    text-decoration: none;
    justify-content: space-around;
    color: white;    
    
    
    transition: all 0s ease-in-out;
}
.boton:hover{
    background-color: #49475B;
    color: #14080E;
    border:none ;
}